CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 3f1a2b2d8085

CREATE TABLE questions (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    question TEXT NOT NULL, 
    is_active BOOL NOT NULL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_questions_id ON questions (id);

INSERT INTO alembic_version (version_num) VALUES ('3f1a2b2d8085');

-- Running upgrade 3f1a2b2d8085 -> 553dedf19b79

CREATE TABLE question_options (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    q_id INTEGER NOT NULL, 
    ans TEXT NOT NULL, 
    is_correct BOOL NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(q_id) REFERENCES questions (id) ON DELETE CASCADE
);

CREATE INDEX ix_question_options_id ON question_options (id);

CREATE INDEX ix_question_options_q_id ON question_options (q_id);

UPDATE alembic_version SET version_num='553dedf19b79' WHERE alembic_version.version_num = '3f1a2b2d8085';

-- Running upgrade 553dedf19b79 -> 3f61216611ed

ALTER TABLE questions ADD COLUMN marks DECIMAL(10, 2) NOT NULL DEFAULT 1.00 AFTER question;

UPDATE alembic_version SET version_num='3f61216611ed' WHERE alembic_version.version_num = '553dedf19b79';

-- Running upgrade 3f61216611ed -> 3b0316d142dc

ALTER TABLE questions ADD COLUMN is_global BOOL NOT NULL DEFAULT true;

UPDATE alembic_version SET version_num='3b0316d142dc' WHERE alembic_version.version_num = '3f61216611ed';

-- Running upgrade 3b0316d142dc -> b17a737d68a0

CREATE TABLE users (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    `role` SMALLINT NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    password VARCHAR(255) NOT NULL, 
    created_at DATETIME NOT NULL, 
    updated_at DATETIME NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (email)
);

UPDATE alembic_version SET version_num='b17a737d68a0' WHERE alembic_version.version_num = '3b0316d142dc';

-- Running upgrade b17a737d68a0 -> a4c9e812f730

CREATE TABLE organizations (
    id INTEGER NOT NULL AUTO_INCREMENT, 
    name VARCHAR(255) NOT NULL, 
    is_active BOOL NOT NULL DEFAULT true, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_organizations_id ON organizations (id);

UPDATE alembic_version SET version_num='a4c9e812f730' WHERE alembic_version.version_num = 'b17a737d68a0';

-- Running upgrade a4c9e812f730 -> d5837a19c246

CREATE TABLE organization_users (
    org_id INTEGER NOT NULL, 
    user_id INTEGER NOT NULL, 
    PRIMARY KEY (org_id, user_id), 
    FOREIGN KEY(org_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

UPDATE alembic_version SET version_num='d5837a19c246' WHERE alembic_version.version_num = 'a4c9e812f730';

-- Running upgrade d5837a19c246 -> e91c4a72d6f0

ALTER TABLE questions ADD COLUMN organization_id INTEGER NOT NULL DEFAULT '0';

ALTER TABLE questions ADD COLUMN user_id INTEGER NOT NULL DEFAULT '0';

UPDATE alembic_version SET version_num='e91c4a72d6f0' WHERE alembic_version.version_num = 'd5837a19c246';

-- Running upgrade e91c4a72d6f0 -> f2a8c190b4de

ALTER TABLE organizations ADD COLUMN code VARCHAR(6);

SELECT id FROM organizations;

